<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hydrateme">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".HydrateApplication"
        android:allowBackup="true"
        android:icon="@mipmap/hydrate_me_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hydrate_me_icon_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.HydrateMe">
        <activity
            android:name=".hydrateme.presentation.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HydrateMe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".hydrateme.data.broadcast_receiver.InsertDayReceiver"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".hydrateme.data.broadcast_receiver.DrinkWaterReminderReceiver"
            android:enabled="true"
            android:exported="true"/>

        <receiver android:name=".hydrateme.data.broadcast_receiver.RescheduleAlarmsReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9938514944370398~6658216304"/>

    </application>

</manifest>